pyrofork==2.3.68
TgCrypto==1.2.5

# Database
pymongo[srv]==4.5.0
dnspython==2.4.2

# Web Server
Flask==2.2.5
gunicorn==21.2.0
Jinja2==3.1.2
Werkzeug==2.2.3
itsdangerous==2.1.2

# Utilities
python-dotenv==1.0.0
requests==2.31.0
